*{
    font-family: 'Lato', sans-serif;
}

header {
    height: 150px;
    width: 100%;
    background-color: #5a2b8f;
    
}

header .container {
    position: relative;
    
}

header .header-black {
    height: 40px;
    background-color: #000;
}

header .header-black li { 
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px;

}

header .header-black li.club-01{
    background-position: 0px 0px;
}

header .header-black li.club-02{
    background-position: -48px 0px;
}

header .header-black li.club-03{
    background-position: -91px 0px;
}

header .header-black li.club-04{
    background-position: -139px 0px;
}

header .header-black li.club-05{
    background-position: -190px 0px;
}

header .header-black li.club-06{
    background-position: -240px 0px;
}

header .header-black li.club-07{
    background-position: -290px 0px;
}

header .header-black li.club-08{
    background-position: -331px 0px;
}

header .header-black li.club-09{
    background-position: -376px 0px;
}

header .header-black li.club-10{
    background-position: -429px 0px;
}

header .header-black li.club-11{
    background-position: -528px 0px;
}

header .header-black li.club-12{
    background-position: -578px 0px;
}

header .header-black li.club-13{
    background-position: -628px 0px;
}

header .header-black li.club-14{
    background-position: -673px 0px;
}

header .header-black li.club-15{
    background-position: -717px 0px;
}

header .header-black li.club-16{
    background-position: -759px 0px;
}

header .header-black li.club-17{
    background-position: -806px 0px;
}

header .header-black li.club-18{
    background-position: -856px 0px;
}

header .header-black li.club-19{
    background-position: -899px 0px;
}

header .header-black li.club-20{
    background-position: -949px 0px;
}

header .header-black li.club-21{
    background-position: -994px 0px;
}


header .header-black li a{
    width: 42px;
    height: 32px;
    display: block;

}

header #logotipo{
    position: absolute;
    top: 29px;
    left: -2.5em;
}

header #menu a{
    color: white;
    padding: 10px, 25px;
    text-decoration: none;

}

header #menu{
    position: absolute; right: 0;
    display: inline-block;
    margin-top: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    


}

header #menu a:hover{
    border-radius: 3px;
    background-color:#fdfdfd;
    transition: 0.3s;
    color: #000;

}

header nav a{
    margin-right: 40px;
}

header nav ul.input-group{
    position: relative;
    width: 100vw;
}

header nav div.search{
    width: 100%;
    float: end;
}
 
.btn{
    border: 2px 3px 4px 4px;
    background-color: #131212;
    font-weight: 800;

}

.btn:hover {
    color: #ffffff;
    border-color: #ffffff;

}

#search {
    box-sizing: border-box;
    border-style:dotted;
    border-radius: 8px;
}

#search-btn {
    color: #ffffff;
    border-shadow: rgba(0, 0, 0, 0.25rem);
}